---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Dimensions
// $max-content-width: {{ site.max_width }};

:root {
    --global-bg-color: #FFFFFF;
    // --global-code-bg-color: #{$code-bg-color-light};
    --global-text-color: #515151;
    // --global-text-color-light: #{$grey-color};
    --global-theme-color: #268bd2;
    // --global-hover-color: #{$purple-color};
    // --global-footer-bg-color: #{$grey-color-dark};
    // --global-footer-text-color: #{$grey-color-light};
    // --global-footer-link-color: #{$white-color};
    // --global-distill-app-color: #{$grey-color};
    --global-divider-color: rgba(0,0,0,.1);

    .light-image {
      display : block;
    }
    .dark-image {
      display : none;
    }
  }
  

.social {
    text-align: center;
    .contact-icons {
        font-size: 2rem;
        a {
            i::before {
                color: var(--global-text-color);
                -webkit-transition: all 0.2s ease-in-out;
            }
            &:hover {
                i::before {
                    color: var(--global-theme-color);
                }
            }
        }
    }
    .contact-note {
        font-size: 0.8rem;
    }
}

// Profile

.profile {
    margin-left: 1rem;
    width: 100%;

    .address {
      margin-bottom: 5px;
      margin-top: 5px;
      font-family: monospace;
      font-size: 75%;
      p {
        display: inline-block;
        margin: 0;
      }
    }
  }

  .profile {
    img {
      width: 100%;
    }
  }
  
  @media (min-width: 576px) {
    .profile {
      width: 30%;
      .address {
        p { display: block; }
      }
    }
  }


// Publications

.publications {
    .photo {
      height: 125px;
      width: 125px;
      margin-right: 10px;
      overflow: hidden;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      .photo-image {
        width: 100%;
        object-fit: contain;
      }
    }
    #no-photo {
      height: 0px;
      border: none;
    }
    margin-top: 2rem;
    h1 {
      color: var(--global-theme-color);
      font-size: 2rem;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 1rem;
      span {
        font-size: 1.5rem;
      }
    }
    h2.year {
      color: var(--global-divider-color);
      border-top: 1px solid var(--global-divider-color);
      padding-top: 1rem;
      margin-top: 2rem;
      margin-bottom: -2rem;
      text-align: right;
    }
    ol.bibliography {
      list-style: none;
      padding: 0;
      margin-top: 0;
  
      li {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        .abbr {
          height: 2rem;
          margin-bottom: 0.5rem;
          abbr {
            display: inline-block;
            background-color: var(--global-theme-color);
            padding-left: 1rem;
            padding-right: 1rem;
            a {
              color: white;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .award {
            color: var(--global-theme-color) !important;
            border: 1px solid var(--global-theme-color);
          }
        }
        .title {
          font-weight: bolder;
        }
        .author {
          a {
            border-bottom: 1px dashed var(--global-theme-color);
            &:hover {
                border-bottom-style: solid;
                text-decoration: none;
            }
          }
          > em {
            border-bottom: 1px solid;
            font-style: normal;
          }
        }
        .links {
          padding-top: 0.5rem;
          a.btn {
            font-size: 0.6rem;
            color: var(--global-text-color);
            border: 1px solid var(--global-text-color);
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 0.15rem;
            padding-bottom: 0.15rem;
            &:hover {
              color: var(--global-theme-color);
              border-color: var(--global-theme-color);
            }
          }
        }
        .hidden {
          font-size: 0.875rem;
          max-height: 0px;
          overflow: hidden;
          text-align: justify;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
  
          p {
            line-height: 1.4em;
            margin: 10px;
          }
          pre {
            font-size: 1em;
            line-height: 1.4em;
            padding: 10px;
          }
        }
        .hidden.open {
          margin-top: 0.2rem;
          max-height: 100em;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
        }
        div.abstract.hidden {
          font-size: 0.5rem;
          border: dashed 1px var(--global-bg-color);
        }
        div.abstract.hidden.open {
          border-color: var(--global-text-color);
        }
        div.bibtex.hidden {
          font-size: 0.5rem;
        }
      }
    }
  }  
